<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<div>
<br>
<a class="btn btn-success" href="<%= get_login_url %>" role="button" id="connect-button" style= "color: white">Connect to SmartThings</a>
</div>