<p id="notice"><%= notice %></p>

<p>At most 19 Pin Codes</p>

<p>
  <strong>Slot:</strong>
  <%= @pincode.slot %>
</p>

<p>
  <strong>Username:</strong>
  <%= @pincode.username %>
</p>

<p>
  <strong>Pcode:</strong>
  <%= @pincode.pcode %>
</p>

<%= link_to 'Edit', edit_pincode_path(@pincode) %> |
<%= link_to 'Back', pincodes_path %>
